.quick-contact {
    color:#1DB1E7;
    background-color: #111;
    border-bottom:1px solid rgba(32, 131, 245, 0.822);
    box-shadow: 0px 8px 6px -6px rgba(68, 68, 68, 0.4);
}
.quick-contact a {
    color:#0099cc;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: extra-expanded;
    cursor: pointer;
}
.highlight{
    margin-left:10px;
}

.highlight:hover, .quick-contact a:hover{
    color:white;
    text-decoration: none;
}
