.MenuContainer{
    flex:1;
    justify-content: center;
    padding-bottom: 50px;
    border-bottom: 1px dashed #1DB1E7;
}
.MenuContainer h1{
    color:#1DB1E7;
    font-size: 300%;
    text-align: left;
    margin-top:50px;
    margin-left:20px;
}
.MenuContainer h2{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 180%;
    color: #999;
 }
 .MenuContainer h5{
    font-size: 140%;
    margin-bottom: 30px;
    color: #999;
 }