.App {
  font-family: 'Quicksand', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.CVList{
  margin-top: 30px;
  text-align: start;
  list-style-type: square; 
  font-size:120%;
  line-height: 140%;
  color: #444;
}

.CVList li{
  margin-bottom: 10px;
}

.margin-block-left{
  margin-left:7%;;
}

.margin-block-top{
  margin-top:30px;
}
.big-padding-spacer{
  padding-top:50px;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

@media only screen and (max-width: 600px) {
    p{
      text-align: left !important;
    }
    .margin-block-left{
      margin-left:0px;
    }
    h1,h2{
      margin-left:0px !important;
    }
}